<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,700" media="screen" rel="stylesheet">
    <title>EPSI Movies</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class='welcome-page'>
        <p> Bienvenue sur EpsiMovies.<br /> Recherchez vos films péférez et trouvez-y les informations générales. </p>
        <a class="button" href="controllers/MainPage.php">Accéder au site</a>

    </div>
