html, body {
    height : 100%;
}
body{
    margin :0px auto;
    padding: 0px;
    background-color: #ebebeb;
    min-height: 100%;
    position: relative;
}

p{
    color : white;
}
.page{
    position: relative;
    width : 100%;
    height : 100%;
}
#banniere {

    width : 100%;
    height : 25%;
    background-color : #5e74b0;
    position : relative;
}

h1 {
    margin :0px auto;
    padding: 30px;
}

/* --------------------------------------- Welcome Page ---------------------------*/

.welcome-page{
    height : 100%;
    background-image : url('../img/joker-wallpaper.jpg');
    background-size: 100% 100%;
    position : relative;
}

.welcome-page a{
    position : relative;
    border-color: white;
    color: white;
    padding: 0 2rem;
    margin-top: 30%;
    margin-left : 35%;
    min-width: 17.5rem;
    font-size: 1.25rem;
    height: 4.875rem;
    line-height: 4.875rem;
    font-family: "Merriweather", Times, serif;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3125rem;
    display: inline-block;
    text-align: center;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    text-decoration : none;
}

.welcome-page a:hover{
    background : white;
    color : #3f4145;
}

/* --------------------------------------- Movies Page ---------------------------*/

#content {

    width: 100%;
    background-color: #3f4145;
    height: 75%;
    position : relative;
    display : table;
}

input.movieSearchBar {
    width : auto;
    height : 45px;
    border-width: 1px;
    border-radius: 120px;
    padding-left : 20px;
    font-family: "Merriweather", Times, serif;
    font-size : 20px;
    display : table-cell;
}

input.movieButton{
    width : 100px;
    border : 1px solid;
    border-right : none;
    background : #555;
    text-indent: -9999px;

    display : table-cell;
    position : relative;
    margin-right : 50px;
}
/* --------------------------------------- Footer ---------------------------*/

footer {
    height: 75px;
    width : 100%;
    background-color : #b04d44;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    margin-top : 1.5%;
    padding: 0px;
    text-align : center;
    min-width: 17.5rem;
    font-size: 1rem;
    vertical-align: middle;
    font-family: "Merriweather", Times, serif;
}