html, body {
    height : 100%;
}
body{
    margin :0px auto;
    padding: 0px;
    background-color: #bfbfbf;
    min-height: 100%;
    position: relative;

}

p{
    color : white;
}
.page{
    position: relative;
    width : 100%;
    height : 100%;
}
#banniere {

    width : 100%;
    height : 25%;
    background-color : #1d7fc5;
    position : relative;
}

h1 {
    margin :0px auto;
    padding: 30px;
}

/* --------------------------------------- Welcome Page ---------------------------*/

.welcome-page{
    height : 100%;
    background-image : url('../img/joker-wallpaper.jpg');
    background-size: 100% 100%;
    position : relative;
}

.welcome-page a{
    border-color: white;
    color: white;
    padding: 0 2rem;
    margin-top: 4%;
    margin-left : 38%;
    min-width: 17.5rem;
    font-size: 1.25rem;
    height: 4.875rem;
    line-height: 4.875rem;
    font-family: "Merriweather", Times, serif;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3125rem;
    display: inline-block;
    text-align: center;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    text-decoration : none;
}

.welcome-page a:hover{
    background : white;
    color : #3f4145;
}

.welcome-page p{
    margin :0px auto;
    padding-top: 300px;
    text-align : center;
    font-size: 1.5rem;
    font-family: "Merriweather", Times, serif;
}


/* --------------------------------------- Movies Page ---------------------------*/

#content {

    width: 962px;
    height: 75%;
    position : relative;
    display : table;
    margin : 0 auto;
}

input.movieSearchBar {
    width: 91%;
    height: 45px;
    margin-top : 20px;
    border-width: 1px;
    border-radius: 120px;
    background: #555;
    padding-left: 80px;
    background: url('../img/icone_search.png') no-repeat;
    background-size: 50px 40px;
    background-position: 15px;
    color : white;
    font-family: "Merriweather", Times, serif;
    font-size: 20px;
    display: table-cell;
}

input:focus{
    outline:none;
    border:1px solid #2564ff;

}

.list-movies{
    margin-top : 10px;
    margin-bottom : 60px;
    vertical-align: middle;
    position : relative;
}

.list-movies img{
    vertical-align: middle;

}

/* --------------------------------------- Footer ---------------------------*/

footer {
    height: 1;
    width : 100%;
    background-color : #b04d44;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    margin-top : 1.5%;
    padding: 0px;
    text-align : center;
    min-width: 17.5rem;
    font-size: 1rem;
    vertical-align: middle;
    font-family: "Merriweather", Times, serif;
}